<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
  </head>
  <body>
    <form method="post" action="/actualiza/{{clients.0}}"> <!-- Esto envia los datos del formulario a la ruta de python add_cont -->
      <table>
        <tr><td colspan="2">ACTUALIZAR DATOS</td></tr>
        <tr><td>Cedula</td><td><input type="text" name="Cedula" placeholder="Cedula" value="{{clients.0}}"></td></tr>
        <tr><td>Nombres</td><td><input type="text" name="Nombres" placeholder="Nombres" value="{{clients.1}}"></td></tr>
        <tr><td>Telefono</td><td><input type="text" name="Telefono" placeholder="Telefono" value="{{clients.2}}"></td></tr>
        <tr><td>Email</td><td><input type="text" name="Email" placeholder="Email" value="{{clients.3}}"></td></tr>
        <tr><td>Accion</td><td><button type="submit">Guardar</button></td></tr>
      </table>
    </form>
  </body>
</html>
